.headerLabel {
  color: #101828;
  font-size: 30px;
}

.mappingActionLabel,
.mappingHeaderLabel,
.parentMappingItemRoundedLabel,
.summaryListItemHeader,
.summaryListItemLabel,
.parentMappingListViewItemLabel,
.childMappingListViewItemLabel {
  font-size: 14px;
}

.mappingActionLabel,
.mappingHeaderLabel,
.summaryListItemHeader {
  color: #475467;
}

.mappingHeaderLabel {
  margin-left: 16px;
  margin-top: 12px;
  font-weight: 500;
}

.mappingHeaderFieldLabel,
.childMappingListViewItemLabel {
  margin-left: 11px;
}

.parentMappingItemRoundedLabel {
  border-radius: 11px;
  margin: 5px;
  border: 1px solid #d0d5dd;
  background-color: #ecfdf3;
  color: #027a48;
  font-size: 12px;
  padding: 2px 0px;
  text-align: center;
}

.selectedParentMappingItemRoundedLabel {
  background-color: white;
  color: #7f56d9;
  font-weight: 500;
}

.parentMappingListViewItem {
  display: grid;
  grid-template-columns: 70% 30%;
  min-height: 36px;
  align-items: center;
}

.selectedParentMappingListViewItem {
  background-color: #d6bbfb;
}

.parentMappingListViewRootItem {
  margin: 2% 3% 0% 3%;
  max-width: 94%;
  padding-left: 1%;
}

.childMappingListViewItem {
  display: flex;
  align-items: center;
  min-height: 36px;
  margin-left: 3%;
  margin-top: 2%;
}

.summaryListItemHeader {
  font-weight: 700;
}

.childFieldButton {
  border-color: #d6bbfb;
  border-width: 1px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}

.parentFieldButton {
  margin: 5px 0px 20px;
  border-color: #d6bbfb;
  border-width: 1px;
  font-size: 14px;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.resetAllButton {
  align-self: flex-end;
  font-size: 14px;
}

.mappingActionAddButton {
  padding: 0px 10px 10px 0px;
  margin-top: 8px;
  font-size: 14px;
}

.saveButton {
  margin-left: 10px;
  margin-right: 28px;
  background-color: #6941c6;
  color: white;
}

.dependencyMappingParentLayout {
  margin: 30px 0 30px 28px;
}

.mappingGridContainer {
  display: grid;
  grid-template-columns: 32% 4% 32% 32%;
  margin-top: 40px;
}

.emptyContainer {
  height: 100px;
}

.childMappingContainer {
  display: flex;
  flex-direction: column;
}

.mappingActionContainer {
  display: grid;
  grid-template-columns: 20% 80%;
}

.parentMappingConatiner,
.childMappingContainer {
  border-radius: 8px;
  border: 1px solid #eaecf0;
}

.mappingHeaderContainer {
  background-color: #f2f4f7;
  border-radius: 8px 8px 0 0;
  min-height: 100px;
}

.mappingHeaderRoundedContainer {
  border-radius: 8px;
  min-height: 44px;
  border: 1px solid #d0d5dd;
  background-color: white;
  margin: 8px 3% 16px;
  display: flex;
  align-items: center;
  max-width: 94%;
}

.mappingIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comboBoxValueTemplateContainer {
  display: flex;
  align-items: center;
  justify-content: left;
}

.summaryListItemContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-top: 5px;
}

.summaryContainer {
  border-radius: 14px;
  border: 1px solid #d6bbfb;
  margin-left: 10px;
  padding: 10px;
  background-color: #f9f5ff;
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
}

.horizontalLine {
  background-color: #eaecf0;
  height: 1px;
  border: none;
  margin: 20px 28px 20px 0px;
}

.mappingHeaderComboBoxPanel {
  margin: 8px 0px 0px 3%;
}

.mappingHeaderComboBox {
  border: 1px solid #d0d5dd;
  background-color: white;
  min-height: 44px;
  align-items: center;
  max-width: 94%;
}

.mappingHeaderFieldIcon {
  margin-top: 3px;
  margin-left: 18px;
}

.doubleArrowIcon {
  max-height: 100%;
  max-width: 100%;
}

.comma {
  margin-right: 5px; /* Adjust the margin as needed */
}

.mappingSearchTextBox {
  margin: 2% 3% 2% 3%;
  max-width: 94%;
  height: 34px;
  align-items: center;
  border-width: 1px;
  border-color: #d0d5dd;
  border-radius: 8px;
}/*# sourceMappingURL=DependencyMapping.module.css.map */