$label-color: #475467;
$button-color:#6941C6;

.headerLabel {
    color: $label-color;
    font-size: 16px;
    margin-left: 28px;
  }

.resetAllButton {
    position: relative;
    top: 40px;
    left: 40%;
    font-size: 14px;
  }

.mappingGridContainer {
    display: grid;
    grid-template-columns: 22% 2% 24% 3% 24% 21%;
    margin-top: 40px;
  }
  
  .mappingActionContainer, .childMappingContainer{
    display: flex;
    flex-direction: column;
  }

  .mappingActionContainer {
    margin-left: 10px;
  }

  .mappingActionAddParentButton,.mappingActionAddChildButton {
    text-align: left;
    border-width: 0;
    margin: 22px 22px;
    color: $button-color;
    font-size: 14px;
  }

  .mappingActionLabel {
    color: $label-color;
    font-size: 12px;
  }

  .verticalLine {
    border-left: 1px solid #D0D5DD;
    height: 370px;
  }
  
  .parentMappingConatiner, .childMappingContainer {
    border-radius: 8px;
    border: 1px solid #EAECF0;
  }
  
  .mappingHeaderContainer {
    background-color: #F2F4F7;
    border-radius: 8px 8px 0px 0px;
    min-height: 90px;
  }

  .mappingHeaderLabel {
    color: $label-color;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .mappingHeaderRoundedContainer{
    border-radius: 8px;
    min-height: 44px;
    border: 1px solid #D0D5DD;
    background-color: white;
    margin: 8px 70px 16px 16px;
    display: flex;
  align-items: center;
  }

  .mappingHeaderIconContainer{
    margin-left: 18px;
  }

  .mappingHeaderFieldLabel {
    margin-left: 11px;
  }

  .mappingHeaderComboBox {
    border: 1px solid #D0D5DD;
    background-color: white;
    margin: 8px 0px 0px 16px;
    min-height: 44px;
    max-width: 70%;
    display: flex;
    align-items: center;
  }

  .mappingSearchTextBox{
    margin:2%;
    max-width: 96%;
  }

  .mappingHeaderHorizontalLine { 
    background-color: #EAECF0; 
    height: 1px; 
    border: none;
    margin-top: 2%;
    }

    .mappingIconContainer {
        display: flex;
        align-items: center; /* center vertically */
        justify-content: center; /* center horizontally */
      }

    .doubleArrowIcon {
        max-height: 100%;
        max-width: 100%;
      }

  .summaryContainer {
    border-radius: 14px;
    border: 1px solid #D6BBFB;
    margin-left: 10px;
    background-color: #F9F5FF;
  }

  .summaryContainerHeader {
    color: $label-color;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 700;
  }
  
  .parentMappingListViewItem {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 2px; 
    min-height: 36px;
    align-items: center;
    padding: 0px;
  }

  .parentMappingItemRoundedLabel {
    border-radius: 11px; margin: 5px;
    border: 1px solid #D0D5DD;
    background-color: #ECFDF3;
    color: #027A48;
    font-size: 12px;
    padding: 2px 15px;
  }
  
  .parentMappingListViewItemLabel {
    margin-left: 50px;
    font-size: 14px;
  }
  
  .childListViewItem {
  margin: 13px 0px 13px 40px;
  display: flex;
    align-items: center; 
  }

  .childMappingListViewItemLabel {
    margin-left: 10px;
    font-size: 14px;
  }
  
  .horizontalLine { 
    background-color: #EAECF0; 
    height: 1px; 
    border: none;
    margin: 28px 28px 28px 20px; }
  
  .footerContainer { 
    display: flex; 
    justify-content: flex-end;
}
  
  .saveButton { 
    margin-left: 10px; 
    margin-right: 28px;
    background-color: $button-color;
    color: white;
    }